@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBMSans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/ibm-plex-sans-var.woff2');
}

@font-face {
    font-family: 'ProximaRegular';
    font-display: swap;
    src: url('/fonts/Proxima-Nova-Regular.woff2');
}

@font-face {
    font-family: 'QuattroBold';
    src: url('/fonts/iAWriterQuattroS-Bold.woff2');
    font-weight: 700;
    font-display : swap;
}
@font-face {
    font-family: 'Quattro';
    src: url('/fonts/iAWriterQuattroS-Regular.woff2');
    font-weight: 400;
    font-display : swap;
}

::selection {
    background-color: #47a3f3;
    color: #fefefe;
  }

html {
    min-width: 360px;
    scroll-behavior: smooth;
  }
  
#__next {
    @apply bg-[#fcfcfc] dark:bg-[#161616];
    /* @apply bg-gradient-to-b from-[#ffffff] to-[#f5e3e6] dark:from-[#000000] dark:to-[#12100e]; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@supports not (backdrop-filter: none) {
    .sticky-nav {
      backdrop-filter: none;
      @apply bg-opacity-100;
    }
}
  
.anchor:hover {
    @apply visible;
}

pre::-webkit-scrollbar {
    display: none;
}
  
pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  
.highlight-line {
    @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

.capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
  }
  
  .capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
  }

  @layer utilities {
    @variants responsive {
        .masonry-2-col {
            column-count: 2;
            column-gap: 2em;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}